#board {
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: rgb(138, 189, 231);
  }



.row {
width: 110%;
height: 10%;
}

  
.col:hover {
  background-color: #e6e6e6;
}
  
  